.profile__main {
  text-align: center;
  margin-top: 150px;
}

.account__avatar__create {
  width: 140px !important;
  height: 140px !important;
  margin-left: 135px;
}

.add__profile__title {
  color: white;
  margin-right: 240px;
}

.add__profile__subtitle {
  color: grey;
  padding: 5px;
}

.input__div {
  display: block;
}

.input {
  width: 330px;
  height: 35px;
  margin-left: 20px;
  background: grey;
}

::placeholder {
  color: white;
  padding: 10px;
}

input[type="checkbox"] {
  background-color: red;
  transform: scale(2.5);
  margin-left: 20px;
}

.kids__label {
  color: white;
  margin-left: 15px;
}

.hr-rule {
  color: rgb(115, 115, 115);
  width: 575px;
  display: inline-block;
  margin-left: 8.5em;
}

.btn {
  margin: 5px;
  border-radius: 0px;
}

.button__group {
  margin-right: 225px;
}
