.profile__main {
  text-align: center;
  margin-top: 150px;
}

.account__avatar__create {
  width: 140px;
  height: 140px;
  margin-left: 135px;
}

.add__profile__title {
  color: white;
  margin-right: 240px;
}

.add__profile__subtitle {
  color: grey;
  padding: 5px;
}

.input__div {
  display: block;
}

.input {
  width: 330px;
  height: 35px;
  margin-left: 20px;
  background: grey;
}

::placeholder {
  color: white;
  padding: 10px;
}

input[type="checkbox"] {
  background-color: red;
  transform: scale(2.5);
  margin-left: 20px;
}

.kids__label {
  color: white;
  margin-left: 15px;
}

.hr-rule {
  color: rgb(115, 115, 115);
  width: 575px;
  display: inline-block;
  margin-left: 8.5em;
}

.btn {
  margin: 5px;
  border-radius: 0px;
}

.button__group {
  margin-right: 225px;
  margin-top: -15px;
}

@media only screen and (max-width: 1375px) {
  .button__group {
    margin-top: -60px;
  }
}

@media only screen and (max-width: 1080px) {
  .profile__main {
    margin-right: 50px;
  }
  .add__profile__title {
    margin-right: 245px;
  }
}

@media only screen and (max-width: 768px) {
  .profile__main {
    margin-right: 120px;
  }

  .add__profile__title {
    margin-right: 260px;
  }

  .account__avatar__create {
    margin-left: 100px;
    height: 135px;
    width: 135px;
  }

  .input {
    width: 300px;
  }

  .hr-rule {
    margin-left: 6.5em;
  }
}

@media only screen and (max-width: 540px) {
  .add__profile__title {
    margin-right: -120px;
  }

  .add__profile__subtitle {
    margin-right: -120px;
  }

  .account__avatar__create {
    margin-left: 100px;
    height: 120px;
    width: 120px;
    margin-bottom: 20px;
  }

  .input {
    width: 210px;
    margin-left: 120px;
  }

  .hr-rule {
    margin-left: 2em;
  }

  .button__group {
    margin-right: 145px;
  }
}

@media only screen and (max-width: 420px) {
  .account__avatar__create {
    margin-left: 130px;
    height: 110px;
    width: 110px;
    margin-bottom: 20px;
  }

  .input {
    width: 190px;
    margin-left: 110px;
  }

  input[type="checkbox"] {
    background-color: red;
    transform: scale(2);
    margin-left: 140px;
    margin-top: 20px;
  }

  .kids__label {
    color: white;
    margin-left: 10px;
  }

  .hr-rule {
    margin-left: 2em;
  }

  .button__group {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .profile__main {
    margin-top: 100px;
  }

  .input {
    width: 190px;
    margin-left: 90px;
  }

  .button__group {
    margin-right: -20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .profile__main {
    margin-top: 100px;
  }
  .button__group {
    margin-right: -35px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .profile__main {
    margin-top: 30px;
  }

  .account__avatar__create {
    margin-left: 120px;
  }

  .input {
    margin-left: 75px;
  }

  .button__group {
    margin-right: -70px;
  }
}

@media only screen and (max-width: 280px) {
  .account__avatar__create {
    margin-left: 100px;
    width: 90px;
    height: 90px;
  }

  .input {
    margin-left: 50px;
  }

  input[type="checkbox"] {
    background-color: red;
    transform: scale(1);
    margin-left: 130px;
    margin-top: 25px;
  }

  .kids__label {
    margin-left: 130px;
  }

  .button__group {
    margin-right: -110px;
  }
}
