* {
  margin: 0;
  font-family: sans-serif;
}

.app,
.accounts__div,
.add__profile__div {
  background-color: #111;
  overflow: hidden;
  min-height: 100vh;
}

.netflix__img__header {
  margin: 15px;
  height: 75px;
  width: 150px;
  line-height: 10px;
}
